* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game {
  margin: 15px;
  position: relative;
}

.screen {
  /* background-color: red; */
  border: 1px solid black;
}

.hotbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 0 15px;
}

.hotbar-logo {
  font-size: 10px;
}

button {
  font-family: monospace;
  cursor: pointer;
}

.text--center {
  text-align: center;
}

.balloon-grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

.balloon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.balloon--active::after {
  content: attr(data-hp);
  color: #000;
  background-color: rgb(255, 255, 255);
  border: 1px solid #858585;
  width: 50px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.hidden {
  display: none;
}

.store-btn {
}

.hotbar-btn {
  font-size: 16px;
  background-color: #fff;
  border: 1px solid currentColor;
  /*  */
  padding: 6px 12px;
  /*  */
  display: flex;
  align-items: center;
  justify-content: center;
}
.store {
  padding: 10px;
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #000;
  height: 200px;
  width: 140px;
}

.hotbar-buttons {
  display: flex;
  gap: 16px;
}

.store-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.store-buy-btn {
  border-radius: 0;
  border: none;
  padding: 2px;
  background-color: #d1d1d1;
}
.store-price {
  color: #104d04;
  font-weight: bold;
}

.store-title {
  font-size: 16px;
  margin-bottom: 6px;
}

.store-stats {
  margin-bottom: 12px;
}

.close-store-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 14px;
  width: 17px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: none;
  color: #414141;
}
