/* |=======[ BASE ]=======|  */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  line-height: 1;
  height: 100vh;
}

/* |=======[ REUSABLE ]=======|  */
.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text--center {
  text-align: center;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

button {
  font-family: monospace;
  cursor: pointer;
  border-radius: 0;
}

/* |=======[ GAME AREA ]=======|  */
.game {
  margin: 5px;
  position: relative;
}

.screen {
  border: 1px solid black;
}

/* |=======[ BALLOON GRID ]=======|  */
.balloon-grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

.balloon {
  user-select: none;
  cursor: pointer;
  position: relative;
}

.balloon--damaged::after {
  content: attr(data-hp);
  /*  */
  position: absolute;
  bottom: 0;
  left: 0;
  /*  */
  width: 50px;
  color: #000;
  border: 1px solid #858585;
  background-color: rgb(255, 255, 255);
  /*  */
  display: flex;
  justify-content: center;
}

/* |=======[ STORE ]=======|  */
.store {
  height: 200px;
  width: 140px;
  padding: 10px;
  /*  */
  position: absolute;
  left: 0;
  bottom: 0;
  /*  */
  font-size: 12px;
  border: 1px solid #000;
  background-color: #fff;
}

.store-title {
  font-size: 16px;
  margin-bottom: 12px;
}

.store-stats {
  margin-bottom: 12px;
}

.store-buy-btn {
  padding: 2px 4px;
  border: none;
  background-color: #d1d1d1;
}
.store-price {
  color: #104d04;
  font-weight: bold;
}

#btn--close-store {
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 14px;
  width: 17px;
  aspect-ratio: 1/1;
  border: none;
  color: #414141;
}

/* |=======[ HOTBAR ]=======|  */
.hotbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*  */
  padding: 0 15px;
  border-top: 1px solid black;
}
.hotbar-logo {
  font-size: 10px;
}

.hotbar-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hotbar-btn {
  font-size: 16px;
  background-color: #fff;
  border: 1px solid currentColor;
  /*  */
  padding: 6px 12px;
}

.hotbar-credits {
  font-style: italic;
}
